build:
  kr260:
    cmake-args:
      - "-DCMAKE_SYSTEM_NAME=Linux"
      - "-DCMAKE_SYSTEM_VERSION=1"
      - "-DCMAKE_SYSTEM_PROCESSOR=aarch64"
      - "-DCMAKE_LIBRARY_ARCHITECTURE=ARG2_OS_TOOLCHAIN"
      - "-DCMAKE_C_COMPILER=/usr/bin/ARG2_OS_TOOLCHAIN-gcc"
      - "-DCMAKE_CXX_COMPILER=/usr/bin/ARG2_OS_TOOLCHAIN-g++"
      - "-DCMAKE_SYSROOT=ARG1_FIRMWARE_DIR/sysroots/ARG4_OS_SYSROOT_PATH"      
      - "-DCMAKE_FIND_ROOT_PATH=ARG3_INSTALL_DIR;ARG1_FIRMWARE_DIR/sysroots/ARG5_ROS_PATH_PREFIX"
      - "-DCMAKE_INSTALL_RPATH=ARG1_FIRMWARE_DIR/sysroots/ARG6_ROS_LIB_PATH"
      - "-DCMAKE_INSTALL_RPATH_USE_LINK_PATH=TRUE"
      - "-DCMAKE_FIND_ROOT_PATH_MODE_PROGRAM=NEVER"
      - "-DCMAKE_FIND_ROOT_PATH_MODE_PACKAGE=ONLY"
      - "-DCMAKE_FIND_ROOT_PATH_MODE_LIBRARY=ONLY"
      - "-DCMAKE_FIND_ROOT_PATH_MODE_INCLUDE=ONLY"
      - "-DPYTHON_SOABI=cpython-37m-aarch64-linux-gnu"
      - "-DTHREADS_PTHREAD_ARG=0"
      - "--no-warn-unused-cli"
      - "-DROS_VITIS_TARGET=TRUE"